name: Build and deploy ASP app to Azure Web App - ApiTaxi

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore NuGet packages
        run: nuget restore TaxisTeodoro.sln

      # Publica a una carpeta
      - name: Publish to folder
        run: msbuild TaxisTeodoro.sln /p:Configuration=Release /p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=false /p:SkipInvalidConfigurations=true /p:PackageLocation="${{ github.workspace }}/published"

      - name: Show publish output (debug)
        run: dir "${{ github.workspace }}/published"

      # Empaqueta TODO lo publicado en un ZIP
      - name: Create ZIP package
        shell: pwsh
        run: |
          $zip = "${{ github.workspace }}/package.zip"
          if (Test-Path $zip) { Remove-Item $zip -Force }
          Compress-Archive -Path "${{ github.workspace }}/published/*" -DestinationPath $zip
          Get-ChildItem $zip

      # SUBE el ZIP como artifact (no la carpeta)
      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: webpackage
          path: ${{ github.workspace }}/package.zip

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      # DESCARGA el ZIP
      - name: Download package artifact
        uses: actions/download-artifact@v4
        with:
          name: webpackage
          path: ${{ github.workspace }}

      - name: Show downloaded files (debug)
        run: dir "${{ github.workspace }}"

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F95E2D57B7A6444693575891BB22BFDF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3F965686D6E6473EB8FD2D8E7E53ADB7 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_060B80BB58684BE0924145B7E49D74B6 }}

      # Apunta EXACTAMENTE al ZIP descargado
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ApiTaxi
          slot-name: Production
          package: ${{ github.workspace }}/package.zip
